//@import '~vssue/src/styles/index';
.navbar {
  /* 特定页面的 CSS */
  //background: #e2e0e2;
  /* Firefox */
    //background-image: -moz-linear-gradient(top, #e8e6e8, #d3d1d3); 
	 /* Saf4+, Chrome */
    //background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e8e6e8), color-stop(1, #d3d1d3));
    border-bottom: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	.links{
		background-color: transparent;
	}
	a:hover{
		//color: rgba(255,255,255,.8)
	}
}
div[class*="language-"]{}
div[class*="language-"].line-numbers-mode{
	&::after,
	.line-numbers-wrapper{
		width: 2.5rem;
	}
	&::after{
		background-color: #094050;
	}
	pre{
		padding-left: 3.5rem;
		background-color:#093444
	}
} 


@media (max-width: 719px) {
	.theme-container{
		.navbar{
			height:2.8rem;
			line-height: 1.4rem;
			background:#fff;
			box-shadow: 0 0 5px rgba(0,0,0,0.2);
			width: 100%;
			box-sizing: border-box;
			.sidebar-button {
				display: block;
				width: 1rem;
				height: 1rem;
				top: .3rem;
				left: .5rem;
				.icon{
					width: 1rem;
					height: 1rem;
				}
			}
			
			.links{
				background-color: transparent;
				position: absolute;
				top: .3rem;
				font-size: .92rem;
				right :0.7rem;
				padding-left: 0;
			}
			.site-name{
				font-size:.9rem;
			}
			.search-box{
				input{
					left: 0;
					&:focus{
						left: 0;
					}
				}
			}
		}
	}
	
	.sidebar {
		top: 2.8rem;
		padding-top: 0;
		box-shadow: 0 10px 10px rgba(0,0,0,.2);
		z-index 20;
		transform: translateX(-115%);
		border: none;
	}
	.sidebar-mask{
		background: rgba(0,0,0,.24)
	}
	
}
@media (max-width: 419px) {
	.theme-default-content {
		&:not(.custom){
			padding: .8rem;
		}
		div[class*="language-"]{
			margin: 0.85rem -.4rem;
			border-radius: 3px;
		}
	}

}

//scrollbar style
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(200,200,215,.3); /* or add it to the track */
}

::-webkit-scrollbar-thumb {
  background: #0b6182;
  border-radius: 3px;
}
::-webkit-scrollbar-corner{
  background-color: transparent; /* or add it to the track */
}

.vssue{
	padding:0;
	.vssue-header .vssue-header-powered-by{
		display: none
	}
	.vssue-pagination {
		flex-direction:row;
		.vssue-pagination-page{
			margin: 0
		}
	}
	.vssue-comments{
		.vssue-comment{
			position :relative;
			.vssue-comment-avatar{
				position: absolute;
				height :32px;
				left 5px;
				top :6px;
				img {
					height: 100%;
					width: 32px;
					border-radius: 20px;
				}
			}
			.vssue-comment-body{
				margin: 0;
				.vssue-comment-header{
					.vssue-comment-author{
						padding-left: 30px;
					}
				}
			}
		}	
	}
} 